<div class="container-fluid" *ngIf="!showDetalle">
    <div class="row px-xl-5">
        <div class="col-12">
            <a class="section-title position-relative text-uppercase mb-3 headers-side">
                <span class="pe-3">CATEGORÍAS</span>
            </a>
        </div>
    </div>
    <div class="row px-xl-5">
        <!-- BarraLat Categorías -->
        <div class="col-lg-3 col-md-4">
            <div class="p-0 pt-3 mb-30 rounded-5">
                <nav class="h-100 align-items-stretch flex-column">
                    <nav class="nav nav-pills flex-column">
                        <a *ngFor="let item of categoriasName" (click)="searchByCategoria(item)"
                            class="b-perfil nav-link d-flex align-items-center justify-content-between" [ngClass]="{'active':categoriaSelecionada === item}">
                            <span>{{item}}</span>
                            <span class="fa-solid fa-arrow-right fa-xl"></span>
                        </a>
                    </nav>
                </nav>
            </div>
        </div>
        <!-- BarraLat Categorías-->

        <!-- Items -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="addP col-12 pb-1">
                    <span class="headers">Productos</span>
                    <button type="button" *ngIf="!cliente" class="btn btn-warning">Agregar Producto</button>
                </div>

                <div class="col-lg-6 col-md-8">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <input class="form-control me-2" type="search" [(ngModel)]="inputSearchValue" placeholder="Escribe el nombre exacto">
                        <button id="btnSearchProd" class="btn" (click)="searchByNameProd()">Buscar</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4" ></div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1" *ngFor="let item of productos">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{item.imagen}}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href="store/carrito">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                        <a class="btn btn-outline-dark btn-square"
                                            (click)="detailsOfProduct(item)">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate">{{item.nombre}}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>S/{{item.precio}}.00</h5>
                                    </div>
                                    <div *ngIf="!cliente" class="d-flex justify-content-evenly admin">
                                        <button type="button" class="btn btn-primary">Editar</button>
                                        <button type="button" class="btn btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--paginas-->
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="/store/productos">Anterior</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="/store/productos">1</a></li>
                            <li class="page-item"><a class="page-link" href="/store/productos">2</a></li>
                            <li class="page-item"><a class="page-link" href="/store/productos">3</a></li>
                            <li class="page-item"><a class="page-link" href="/store/productos">Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
                <!--paginas-->
            </div>
        </div>
        <!-- Items -->
    </div>
</div>
<app-detalle-producto *ngIf="showDetalle" [detalle]='detailsProducto'></app-detalle-producto>