<div *ngIf="!bandera;else createProduct"  class="container-fluid" >
    <div class="row px-xl-5">
        <div class="col-12">
            <span class="section-title position-relative text-uppercase 
                mb-3 headers-side pe-3">
                CATEGORÍAS
            </span>
        </div>
    </div>
    <div class="row px-xl-5">
        <!-- BarraLat Categorías -->
        <div class="col-lg-3 col-md-4">
            <div class="p-0 pt-3 mb-30 rounded-5">
                <nav class="h-100 align-items-stretch flex-column">
                    <nav class="nav nav-pills flex-column">
                        <a *ngFor="let categoria of categorias" 
                            class="b-perfil nav-link d-flex align-items-center justify-content-between" >
                            <span (click)="getProductByCategory(categoria.id)">{{categoria.name}}</span>
                            <span class="fa-solid fa-arrow-right fa-xl"></span>
                        </a>
                    </nav>
                </nav>
            </div>
        </div>
        <!-- BarraLat Categorías-->

        <!-- Items -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div *ngIf="user?.role=='admin'" class="addP col-12 pb-1">
                    <span class="headers">Productos</span>
                    <button type="button"  class="btn btn-warning" (click)="redirectCreateProduct()">Agregar Producto</button>
                </div>
                
                <div class="col-lg-6 col-md-8">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <input class="form-control me-2" type="search" placeholder="Escribe una parte o todo el nombre">
                        <button id="btnSearchProd" class="btn">Buscar</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4" ></div>

                <div class="col-12 ">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1 content"  >
                            <div class="product-item bg-light mb-4" *ngFor="let product of products">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{product.image}}" alt="{{product.name}}">
                                    <div *ngIf="user?.role=='customer'" class="product-action">
                                        <a  class="btn btn-outline-dark btn-square" 
                                            >
                                            <i (click)="addShoppingCart(product)" class="fa fa-shopping-cart"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="text-center py-4 producto-detalle">
                                    <a class="h6 text-decoration-none text-truncate">{{product.name | titlecase}}</a>
                                    <div class=" mt-2 price">
                                        <h5>S/.{{product.price}}</h5>
                                    </div>
                                    <a *ngIf="user?.role=='customer'" type="button" class="btn ver-mas" (click)="redirectDetailProduct(product.id!)" >Ver más</a>
                                    <div class=" mt-2 ">
                                        <h6>{{product.stock}} unidades</h6>
                                    </div>
                                    <div *ngIf="user?.role=='admin'"  class="d-flex justify-content-evenly admin">
                                        <button type="button" class="btn btn-primary" (click)="redirectEditProduct(product.id!)">Editar</button>
                                        <button (click)="deleteProduct(product.id!)" type="button" class="btn btn-danger">Eliminar</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--paginas-->
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="/store/productos">Anterior</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="/store/productos">1</a></li>
                            <li class="page-item"><a class="page-link" href="/store/productos">2</a></li>
                            <li class="page-item"><a class="page-link" href="/store/productos">3</a></li>
                            <li class="page-item"><a class="page-link" href="/store/productos">Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
                <!--paginas-->
            </div>
        </div>
        <!-- Items -->
    </div>
</div>

<ng-template #createProduct> 
    <div class="container">
        <div>
          <h1>Registrar Producto</h1>
        </div>
        <form [formGroup]="miFormulario" (ngSubmit)="createproduct()">
          <div class="mb-3">
            <label for="exampleInputNameProduct1" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="Name" aria-describedby="nameHelp" formControlName="name">
            <div class="alert alert-danger" *ngIf="validarCampo('name')" role="alert">
              Este campo es requirido
            </div>
          </div>
          <div class="block1">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Precio</label>
              <input type="number" min="1" class="form-control" id="Price" formControlName="price">
              <div class="alert alert-danger" *ngIf="validarCampo('price')" role="alert">
                Este campo es requirido
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputStock1" class="form-label">Stock</label>
              <input type="number" min="1" class="form-control" id="Stock" formControlName="stock">
              <div class="alert alert-danger" *ngIf="validarCampo('stock')" role="alert">
                Este campo es requirido
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputDescription1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="Description" aria-describedby="descriptionHelp" formControlName="description">
            <div class="alert alert-danger" *ngIf="validarCampo('description')" role="alert">
              Este campo es requirido
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputImage1" class="form-label">Imagen</label><br>
            <input class="form-control" type="text"  [(ngModel)]="imageURL"  formControlName="image" placeholder="Ingrese la URL de la imagen"><br>
            <div class="imagen-content">
              <img class="imagen-prev" src="{{imageURL}}" alt="Imagen" *ngIf="imageURL">
            </div>
            <div class="alert alert-danger" *ngIf="validarCampo('image')" role="alert">
              Este campo es obligatorio
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Categoria</label>
            <select class="form-select" formControlName="categoryId" aria-label="Default select example">
              <option selected>Selecciona alguna categoria</option>
              <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="validarCampo('categoryId')" role="alert">
              Debe elegir alguna de las categorias
            </div>
          </div>
          <div class="register-btn">
            <button type="submit" class="btn btn-warning "  [disabled]="miFormulario.invalid" >Guardar</button>
          </div>
        </form>
      </div>
</ng-template>
