<div class="container">
  <div>
    <h1>Login</h1>
  </div>
  <form [formGroup]="miFormulario">
    <div class="mb-3 img-content">
      <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="user">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
      <input type="email" formControlName="email" class="form-control" id="Email" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" formControlName="password" class="form-control" id="Password">
    </div>
    
    <div class="login-btn">
      <button type="submit" class="btn btn-warning " (click)="redirectStore()" >Ingresar</button>
    </div>
    <div class="botones link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
      <a (click)="redirectRegistro()"> Registrate aquí</a>
    </div>
  </form>
</div>