<div class="container-fluid" *ngIf="showThis.general">
    <div class="row px-xl-5">
        <!-- Tipos -->
        <div class="col-12">
            <div class="row pb-3">
                <div class="col-12 pb-1 mb-3">
                    <div class="addP">
                        <span class="headers">Categorías</span>
                        <button type="button" *ngIf="user?.role == 'admin'" class="btn btn-warning">
                            Agregar Categoria
                        </button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 pb-1" *ngFor="let item of categorias">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{item.imagen}}" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" *ngIf="user?.role != 'admin'"
                                    (click)="enviarCategoria(item.id)">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a class="btn btn-outline-dark btn-square" *ngIf="user?.role == 'admin'"
                                    (click)="editCategoria(item.id)">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-outline-dark btn-square" *ngIf="user?.role == 'admin'"
                                    (click)="deleteCategoria(item.id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate">{{item.nombre}}</a>
                            <div *ngIf="user?.role == 'admin'" class="d-flex justify-content-evenly admin">
                                <button type="button" class="btn btn-primary" (click)="editCategoria(item.id)">Editar</button>
                                <button type="button" class="btn btn-danger" (click)="deleteCategoria(item.id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--paginas-->
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="/store/categorias">Anterior</a></li>
                            <li class="page-item active"><a class="page-link" href="/store/categorias">1</a></li>
                            <li class="page-item"><a class="page-link" href="/store/categorias">2</a></li>
                            <li class="page-item"><a class="page-link" href="/store/categorias">3</a></li>
                            <li class="page-item"><a class="page-link" href="/store/categorias">Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
                <!--paginas-->
            </div>
        </div>
        <!-- Tipos -->
    </div>
</div>

<app-detalle-categoria *ngIf="showThis.edit"></app-detalle-categoria>