<div  class="container-fluid">
    <div *ngIf="!bandera;else createCategory" class="row px-xl-5">
        <!-- Tipos -->
        <div class="col-12">
            <div class="row pb-3">
                <div class="col-12 pb-1 mb-3">
                    <div *ngIf="user?.role=='customer'" class="addC">
                        <a class="headers">Categorías</a>
                        </div>
                    <div *ngIf="user?.role=='admin'" class="addC">
                        <a class="headers">Categorías</a>
                        <button type="button"  class="btn btn-warning" (click)="redirectCreateCategory()" >Agregar Categoria</button>
                        </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 pb-1" *ngFor="let categoria of categorias">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{categoria.image}}" alt="">
                            <div class="product-action">
                                <a class="btn "
                                    >
                                    {{categoria.description}}
                                </a>
                            </div>
                        </div>
                        <div class="text-center py-4 categoria-detalle">
                            <a class="h6 text-decoration-none text-truncate">{{categoria.name}}</a>
                            <a class="h6 text-decoration-none text-truncate">{{categoria.products.length}} productos</a>
                            <div *ngIf="user?.role=='admin'"  class="d-flex justify-content-evenly admin">
                                <button (click)="redirectEditCategory(categoria.id!)" type="button" class="btn btn-primary">Editar</button>
                                <button (click)="deleteCategory(categoria.id!)" type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
        <!-- Tipos -->
    </div>
</div>
<ng-template #createCategory> 
    <div class="container">
        <div>
          <h1>Registrar Categoria</h1>
        </div>
        <form [formGroup]="miFormulario" (ngSubmit)="createcategory()">
          <div class="mb-3">
            <label for="exampleInputNameProduct1" class="form-label">Nombre de la Categoria</label>
            <input type="text" class="form-control" id="Name" aria-describedby="nameHelp" formControlName="name">
            <div class="alert alert-danger" *ngIf="validarCampo('name')" role="alert">
              Este campo es requirido
            </div>
          </div>
          
          <div class="mb-3">
            <label for="exampleInputDescription1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="Description" aria-describedby="descriptionHelp" formControlName="description">
            <div class="alert alert-danger" *ngIf="validarCampo('description')" role="alert">
              Este campo es requirido
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputImage1" class="form-label">Imagen</label><br>
            <input class="form-control" type="text"  [(ngModel)]="imageURL"  formControlName="image" placeholder="Ingrese la URL de la imagen"><br>
            <div class="imagen-content">
              <img class="imagen-prev" src="{{imageURL}}" alt="Imagen" *ngIf="imageURL">
            </div>
            <div class="alert alert-danger" *ngIf="validarCampo('image')" role="alert">
                Este campo es obligatorio, y debe tener como maximo 255 caracteres
            </div>
          </div>
          <div class="register-btn">
            <button type="submit" class="btn btn-warning "  [disabled]="miFormulario.invalid" >Guardar</button>
          </div>
        </form>
      </div>
</ng-template>

