.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  h1{
      padding:2rem 0;
    color: #fd7e14;
    }
 
  form{
    padding: 1rem 2.5rem;
    border: 1px solid #6c757d;
    border-radius: 1rem;
    width: 70%;
    .img-content{
      display: flex;
      justify-content: center; 
    }
    .imagen-content{
      display: flex;
      justify-self: center;
      align-items: center;
      width: 100%;
      .imagen-prev{
        width: 100%;
        border-radius: 3rem;
        margin: 0;
        height: auto;
      }
    }
  }
  .block1{
    display: flex;
    gap: 3rem;
  }
  .mb-3{
    width: 100%;
  }
  .register-btn{
    display: flex;
    justify-content: center;
  }
  .alert{
    padding: 0.2rem;
    margin-top: 0.5rem;
  }
  button{
    padding: 0.5rem 2rem;
  }
  .botones{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    a{
      color: #fd7e14;
    }
  }
}

