<div class="container-component-body">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carrusel">
      <div class="carousel-item active ">
        <img src="https://img4.goodfon.com/wallpaper/nbig/7/27/pirozhnye-konfety-klubnika-desert-sladosti-assorti.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block contenedor-img">
          <h5>Dulce deleite para los sentidos</h5>
          <p>Sumérgete en un mundo de sabores y texturas irresistibles con nuestras creaciones de repostería artesanal. Cada bocado es una experiencia deliciosa.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://c0.wallpaperflare.com/preview/715/221/249/person-baking-infront-of-table.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block contenedor-img">
          <h5>Magia repostera</h5>
          <p>Descubre el encanto y la creatividad en cada creación de nuestra pastelería. Elaboramos pasteles y postres que son verdaderas obras de arte comestibles.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://p4.wallpaperbetter.com/wallpaper/163/398/483/cake-sweets-food-berries-fruit-hd-wallpaper-preview.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block contenedor-img">
          <h5>El placer en cada bocado</h5>
          <p>Nuestros dulces son una explosión de sabor. Utilizamos ingredientes de alta calidad y recetas cuidadosamente elaboradas para ofrecerte una experiencia culinaria excepcional.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="servicios">
    <div class="op">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" id="fresh" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M24,42c0,4.418,3.582,9,8,9h4" style="stroke-dasharray: 18, 20; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" d="M33,55L36,51L33,47" style="stroke-dasharray: 10, 12; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M42,42c0-4.418-3.582-9-8-9h-4" style="stroke-dasharray: 18, 20; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" d="M33,29L30,33L33,37" style="stroke-dasharray: 10, 12; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M44,18L54,18L54,63L10,63L10,18L20,18Z" style="stroke-dasharray: 178, 180; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M22,24V11c0-5.523,4.477-10,10-10s10,4.477,10,10v13  " style="stroke-dasharray: 58, 60; stroke-dashoffset: 0;"></path>
        </svg>
        <div>
          <h2>Ingredientes Frescos</h2>
          <p>Todos nuestros productos están hechos con ingredientes de la mejor calidad y productos frescos garantizados.</p>
        </div>
    </div>
    <div class="op">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" id="baked" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" width="62" height="9" d="M1 18 L63 18 L63 27 L1 27 Z" style="stroke-dasharray: 142, 144; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" width="52" height="31" d="M6 27 L58 27 L58 58 L6 58 Z" style="stroke-dasharray: 166, 168; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M32,58L32,18" style="stroke-dasharray: 40, 42; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M32,18c0,0-13,0.101-13-9c0-7,13-4.068,13,2  C32,17.067,32,18,32,18z" style="stroke-dasharray: 43, 45; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M32,18c0,0,13,0.101,13-9c0-7-13-4.068-13,2  C32,17.067,32,18,32,18z" style="stroke-dasharray: 43, 45; stroke-dashoffset: 0;"></path>
        </svg>
        <div>
          <h2>Horneado con amor</h2>
          <p>Nos apasiona la cocción. Cada uno de nuestros artículos hechos a mano son cuidadosamente horneados con amor.</p>
        </div>
    </div>
    <div class="op">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" id="delivery" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M14,57A6,6 0,1,1 26,57A6,6 0,1,1 14,57" style="stroke-dasharray: 38, 40; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M38,57A6,6 0,1,1 50,57A6,6 0,1,1 38,57" style="stroke-dasharray: 38, 40; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M26,57L38,57" style="stroke-dasharray: 12, 14; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M14,57L10,2L0,2" style="stroke-dasharray: 66, 68; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-miterlimit="10" d="M13,43L56,40L63,10L11,10" style="stroke-dasharray: 126, 128; stroke-dashoffset: 0;"></path>
        <path fill="none" stroke="#684f40" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" d="M27,24L34,31L47,18" style="stroke-dasharray: 29, 31; stroke-dashoffset: 0;"></path>
        </svg>
        <div>
          <h2>El tiempo de entrega</h2>
          <p>Somos muy puntuales y prometemos entregar productos frescos a tiempo a cada cliente.</p>
        </div>
    </div>
  </div>
</div>