/* You can add global styles to this file, and also import other style files */
.container-store-main_component {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: #F9EFE3;
  }

  /* Cambiar el ancho y el color del scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Cambiar el color del fondo del scrollbar */
::-webkit-scrollbar-track {
  background-color: #F9EFE3; //#f1f2f3  #f1f1f1  #ffe6e6
  // border-radius: 10px;
}

/* Cambiar el color del thumb (el "manejador" del scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #ff7676; //#797979  #888     #ff8686
  border-radius: 20px;
  border: 2px solid #F9EFE3; //#f1f2f3
}
