<div class="contenedor">
  <div class="seccion">
    <h2>Pedidos</h2>
  </div>
  <div class="principal">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0 ped">
        <div class="card">
          <div class="card-body">
            <div class="d-flex cont">
              <h5 class="card-title">N°78452</h5>
              <h4>{{'2023-02-14 14:30'}}</h4>
            </div>
            <div class="content">
              <p class="card-text">Estado</p>
              <span class="badge rounded-pill text-bg-warning">En proceso</span>
            </div>
            <div class="content">
              <p class="card-text">Total</p>
              <p>{{80 | currency}}</p>
            </div>
            <a href="store/pedido/detalle" class="btn btn-primary">Ver detalle</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0 ped">
        <div class="card">
          <div class="card-body">
            <div class="d-flex cont">
              <h5 class="card-title">N°78452</h5>
              <h4>{{'2023-02-14 14:30'}}</h4>
            </div>
            <div class="content">
              <p class="card-text">Estado</p>
              <span class="badge rounded-pill text-bg-warning">En proceso</span>
            </div>
            <div class="content">
              <p class="card-text">Total</p>
              <p>{{80 | currency}}</p>
            </div>
            <a href="store/pedido/detalle" class="btn btn-primary">Ver detalle</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0 ped">
        <div class="card">
          <div class="card-body">
            <div class="d-flex cont">
              <h5 class="card-title">N°78452</h5>
              <h4>{{'2023-02-14 14:30'}}</h4>
            </div>
            <div class="content">
              <p class="card-text">Estado</p>
              <span class="badge rounded-pill text-bg-warning">En proceso</span>
            </div>
            <div class="content">
              <p class="card-text">Total</p>
              <p>{{80 | currency}}</p>
            </div>
            <a href="store/pedido/detalle" class="btn btn-primary">Ver detalle</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0 ped">
        <div class="card">
          <div class="card-body">
            <div class="d-flex cont">
              <h5 class="card-title">N°78452</h5>
              <h4>{{'2023-02-14 14:30'}}</h4>
            </div>
            <div class="content">
              <p class="card-text">Estado</p>
              <span class="badge rounded-pill text-bg-warning">En proceso</span>
            </div>
            <div class="content">
              <p class="card-text">Total</p>
              <p>{{80 | currency}}</p>
            </div>
            <a href="store/pedido/detalle" class="btn btn-primary">Ver detalle</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>